<%= content_for :title do %>Candidates<% end %>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Affilation</th>
      <th scope="col">Branch</th>
      <th scope="col">Year</th>
      <th scope="col">Course</th>
      <th scope="col">Nominations</th>
    </tr>
  </thead>

  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <th scope="row">
          <%= link_to candidate.name, candidate_path(candidate) %>
        </th>
        <td><%= candidate.affilation %></td>
        <td><%= candidate.branch %></td>
        <td><%= candidate.year %></td>
        <td><%= candidate.course %></td>
        <td>
          <ul>
            <% candidate.elections.each do |election| %>
              <li>
                <%= link_to election.position, election_path(election) %>
              </li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
